:root {
    --main__color: #C90000;

    --second__main__color: #FFC300;
    --shadow__color: #FFF6A3;

    --gray__header__menu__color: #7D7C7C;
    --gray__text__color: #504F4F;
    --gray__price__color: #323232;

    --menu__item__border__color: #E3E3E3;
    --menu__item__background__color: #F1F1F1;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-family: sans-serif;
}

body {
    width: 100%;
    flex-direction: column;

    /* background-color: var(--menu__item__background__color); */
    background-color: var(--menu__item__border__color);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container {
    max-width: 65rem;
    flex-direction: column;
}

/* header -------------------------------------------------------------------------------------------------------------------- */
.header {
    position: relative;
    max-width: 100%;
    padding: 1rem 0;
    margin: 0.5rem 0;

    flex-direction: column;
}

.header_nav {
    position: fixed;
    top: 0.5rem;
    width: 65rem;
    justify-content: space-between;
    z-index: 150;
    /* background-color: var(--menu__item__border__color); */
    background-color: #e3e3e361;
    backdrop-filter: blur(6px);
}

.header_logo {
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: 0.5s linear;

    text-align: center;
    font-size: 2rem;
    background-color: var(--main__color);
}

.header_logo:hover {
    transform: rotate(360deg);
}

.header_logo > a {
    text-decoration: none;
    color: var(--second__main__color);
}

.header_nav_bar0 {
    width: 33%;
    position: fixed;
    top: 0.1rem;
    left: -35%;
    bottom: 0.1rem;
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 180;

    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    transition: 0.3s linear;
    
    background: #c9000022;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
}

.header_nav_bar {
    flex: 1;
    justify-content: flex-start;
    margin: 0 3rem;

    box-shadow: none;
}

.header_nav_bar_active {
    /* box-shadow: 0px 0px 10px var(--main__color); */
    box-shadow: 0px 0px 10px var(--gray__header__menu__color);
}

.arrow {
    display: none;
    transition: 0.3s linear;
}

.menu_icon {
    display: none;
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.nav_bar {
    text-decoration: none;
    list-style: none;

    color: var(--gray__header__menu__color);
}

.nav_bar_items {
    width: max-content;
    margin: 0 1rem;
    padding-bottom: 0.2rem;

   font-size: 15px;
   transition: 0.3s all linear;
   cursor: pointer;
}

.nav_bar_items:hover {
    transform: translateY(-6px);

    border-bottom: 2px solid var(--second__main__color);
    color: var(--main__color);
}

.nav_bar_itams_active {
    border-bottom: 2px solid var(--second__main__color);
    color: var(--main__color);
}

#contact a {
    color: var(--gray__header__menu__color);
}

.header_button {
    flex: 0.5;
}

.header_button button {
    padding: 0.4rem 0.8rem;
    margin: 0 0.3rem;
    border-radius: 1rem;
    outline: none;

    cursor: pointer;
    transition: 0.3s linear;
}

.header_button button a {
    text-decoration: none;
    color: inherit;
}

.header_button_signin {
    border: 0.5px solid var(--main__color);
    
    color: var(--main__color);
    background-color: white;
}

.header_button_signin:hover {
    transform: translateY(-6px);
    background-color: var(--main__color);
    color: white;
}

.header_button_login {
    border: none;
    background-color: var(--main__color);
    color: white;
}

.header_button_login:hover {
    transform: translateY(-6px);
    border: 0.5px solid var(--main__color);
    color: var(--main__color);
    background-color: white;
}

.header_nav_bar_icon {
    display: none;
    width: 2rem;
    height: 2rem;

    cursor: pointer;
}

/* header content -------------------------------------------------------------------------------------- */
.header_content {
    width: 100%;
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: center;
    align-content: center;
}

.header_content_detail {
    flex-direction: column;
    align-items: flex-start;
}

.header_content_detail h1 {
    color: var(--main__color);
    width: 80%;

    font-size: 2.5rem;
    line-height: 3rem;
}

.header_content_detail p {
    width: 80%;
    line-height: 1.5rem;
    margin-top: 0.6rem;
    margin-bottom: 2.5rem;

    font-size: 15px;
    color: var(--gray__text__color);
}

.header_content_detail_price {
    width: 80%;
    justify-content: flex-start;
    margin-bottom: 1rem;

    color: var(--gray__text__color);
}

.header_content_detail_price label {
    width: max-content;
    padding-right: 0.4rem;
    
    font-size: 13px;
}

.detail_price {
    color: var(--gray__price__color);
    font-size: 17px;
}

.header_content_detail_order {
    width: 80%;
    justify-content: flex-start;
}

.header_content_detail_order_2 {
    width: 100%;
    display: none;
}

.counter {
    width: 35%;
    justify-content: space-evenly;
    padding: 0.2rem 0;
    margin-right: 1.4rem;
    border-radius: 1.2rem;

    font-size: 17px;
    color: var(--second__main__color);
    background-color: white;
}

.counter img {
    width: 1rem;
    height: 1rem;

    cursor: pointer;
}

#mines{
    margin-bottom: 0.65rem;
}

.header_content_detail_order button, .header_content_detail_order_2 button {
    justify-content: space-evenly;
    padding: 0.42rem 1.3rem;
    border-radius: 1.2rem;
    border: none;

    font-size: 15px;
    color: var(--gray__price__color);
    background-color: var(--second__main__color);
    cursor: pointer;
}

.header_content_detail_order button:hover #shop {
    transform: rotate(360deg);
}

#shop {
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;

    transition: 0.4s linear;
}

.header_content_img {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 0;
    height: 30rem;

    /* align-items: flex-start; */
    background-image: url("../src/logo.png");
    background-size: 143%;
    background-position: left;
}

#deleviry_box {
    background-color: white;
    height: max-content;
    padding: 1rem 0;

    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

#deleviry_box_2 {
    display: none;
}

#calo_box {
    background-color: white;
    height: max-content;
    padding: 1rem 0.5rem;

    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.deleviry {
    margin-top: 5rem;
}

.deleviry_img img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 0.5rem;
}

.deleviry_title {
    color: var(--gray__price__color);
    font-size: 0.9rem;
    font-weight: bold;
}

.deleviry p {
    text-align: center;
    margin-top: 0.2rem;
    font-size: 13px;
    color: var(--gray__price__color);
}

.humber_img {
    width: 29.5rem;
}

.quality {
    flex-direction: column;
}


/* footer ------------------------------------------------------------------------------------------------------------ */
.footer {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
    width: 100%;
    padding: 0 5rem 1rem 2rem;
    margin: 0;

    background-color: var(--shadow__color);
}

.footer_logo {
    flex-direction: column;
}

.footer_logo_title h1 {
    margin-left: 1rem;
    color: var(--gray__price__color);
}

.footer_by {
    margin-top: 0.5rem;
    color: var(--main__color);
    font-weight: bold;
}
/* --------------------------------------------------------------- */

.footer_icons {
    /* width: 25%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 9% 4% 0 4%; */
    margin-top: 0.8rem;

    color: var(--gray__price__color);
    font-size: 25px;
}

i {
    /* margin-bottom: 20px; */
    cursor: pointer;
    margin: 0 0.3rem;

    transition: ease-in;    
    transition-duration: 0.4s;
}

i:hover {
    color: var(--main__color);
}

i:first-child:hover {
    transform: rotate(270deg);
}

i:nth-child(4):hover {
    transform:translateX(15px) rotate(75deg);
}

/* ------------------------------------------------------- */

.footer_section_title {
    color: var(--gray__price__color);
    margin: 2rem 0;
}

.footer_usefull_links ul {
    list-style: none;
}

.footer_usefull_links ul li {
    margin: 0.7rem 0;
    color: var(--gray__text__color);
    cursor: pointer;
}

.footer_usefull_links ul li:hover {
    color: var(--main__color);
}

#contact_footer a {
    color: var(--gray__text__color);
}

.footer_opening_hours p {
    color: var(--gray__text__color);
    margin: 1rem 0;
}


/* resposive -------------------------------------------------------------------------- */
@media only screen and (min-width: 1200px) {
    .container, .header{
        width: 65rem;
    }
}

@media only screen and (max-width: 1200px) {
    .container, .header_nav{
        max-width: 960px;
    }

    /* header content ------------------ */
    .header_content_detail h1 {
        width: 90%;
        font-size: 2.4rem;
    }

    .header_content_detail_order button {
        width: 9rem;
        font-size: 13px;
        padding: 0.6rem 1.3rem;
    }

    #deleviry_box {
        padding:1rem 0.5rem;
    }
}

@media only screen and (max-width: 992px) {
    .container, .header_nav{
        max-width: 720px;
    }

    /* header content ------------------ */
    .header_content {
        padding: 2rem 0;
    }

    .header_content_detail h1 {
        width: 80%;
        font-size: 1.6rem;
        line-height: 2rem;
    }

    .header_content_detail p {
        width: 70%;
        font-size: 11px;
        margin-bottom: 1rem;
    }

    .header_content_detail_price label {
        font-size: 11px;
    }

    .detail_price {
        font-size: 14px;
    }

    .counter {
        width: 5rem;
        font-size: 14px;
        margin-right: 0.5rem;
    }

    .counter img {
        width: 0.8rem;
        height: 0.7rem;
    }

    .header_content_detail_order button {
        width: 9rem;
        font-size: 11px;
        font-weight: bold;
    }

    .header_content_img {
        grid-template-columns: 3fr 0.5fr;
        justify-content: center;
        align-items: flex-start;
        height: 20rem; 
    }

    .deleviry_container {
        display: none;
    }

    #real_calo_box {
        display: block;
    }

    .deleviry {
        margin: 0;
        margin-top: 1rem;  
        padding-top: 1rem;
    }

    .deleviry_img img {
        width: 1.2rem;
        height: 1.2rem;
    }

    #title {
        font-size: 0.7rem;
        font-weight: bold;
    }

    .humber_img {
        width: 106%;
        height: 83%;
    }

    .quality {
        margin-top: 1rem;
    }

    #deleviry_box_2 {
        display: block;
    }

    /* footer ------------------------ */
    .footer {
        grid-template-columns: 1.7fr 1fr 1.3fr;
        padding: 0 2rem 1rem 2rem;
    }
}

@media only screen and (max-width: 768px) {
    .container, .header_nav{
        max-width: 550px;
    }

    /* header -------------------------- */
    .header_nav_bar_icon {
        display: block;
    }

    .arrow {
        position: fixed;
        top: 0.8rem;
        left: 2rem;
        display: block;
        width: 13px;
        height: 13px;

        cursor: pointer;
        transform: rotate(135deg);
        border-bottom: 3px solid var(--second__main__color);
        border-right: 3px solid var(--second__main__color);
    }

    .menu_icon {
        display: block;
    }

    .header_nav_bar0 {
        display: block;
    }

    .header_nav_bar {
        display: none;
        width: 31%;
        height: 350px;
        position: fixed;
        top: 0;
        left: -60%;
        bottom: 0;
        margin: 0;
        flex-direction: column;
        justify-content: flex-start;
        overflow: hidden;
        z-index: 100;

        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        transition: 0.3s linear;
        
        background: #c9000074;
        backdrop-filter: blur(20px);
        -webkit-backdrop-filter: blur(20px);
    }

    .nav_bar {
        width: 100%;
        height: auto;
        padding: 2rem 0;
        margin-top: 0.5rem;
        flex-direction: column;
        justify-content: space-between;

        overflow: hidden;
        color: white;
    }

    #contact a {
        color: white;
    }

    .nav_bar_items {
        justify-content: flex-start;
        width: 100%;
        padding: 0.7rem 0;
        padding-left: 1.5rem;
        margin: 0.1rem 0;
        border: none;

        font-size: 16px;
        font-weight: 600;
        border: none;
    }

    .nav_bar_items:hover {
        border-bottom: none;
        border-top-left-radius: 2rem;
        border-bottom-left-radius: 2rem;
        transform: translateX(10px);
        
        font-weight: bold;
        color: white;
        background-color: var(--main__color);
    }

    /* header content -------------------------- */
    .header_content {
        grid-template-columns: 180px 1fr;
    }

    .header_content_detail h1, .header_content_detail_order {
        width: 100%;
    }

    .header_content_detail p {
        width: 90%;
        line-height: 1.3rem;
        font-size: 10px;
    }

    .counter {
        padding: 0.19rem 0;
    }

    .header_content_detail_order button {
        width: 8rem;
        font-size: 10px;
    }

    #shop {
        width: 0.7rem;
        height: 0.9rem;
        margin-right: 0.4rem;
    }

    .header_content_img {
        align-items: center;
    }

    .humber_img {
        width: 100%;
        height: 88%;
    }

    .deleviry {
        margin: 0;
        margin-top: 0.5rem;  
    }

    .deleviry img {
        width: 1rem;
        height: 1rem;
    }

    .title {
        font-size: 0.5rem;
    }

    .deleviry p {
        font-size: 11px;
    }

    #calo_box {
        padding: 0.5rem 0.6rem;
    }

    /* main ----------------------------------- */

    /* footer ------------------------ */
    .footer {
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        justify-items: center;
    }

    .footer_logo {
        grid-row: 2;
        grid-column: 1 / 3;
        justify-self: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 576px) {
    .container, .header_nav {
        width: 90%;
    }

    /* header ---------------------------- */
    .header_nav_bar0 {
        width: 45%;
    }

    .header_nav_bar {
        width: 45%;
        left: -40%;
    }
    
    .nav_bar {
        width: 100%;
    }

    .header_button button {
        width: max-content;
    }

    /* header content -------------------- */
    .header_content {
        grid-template-columns: 1fr;
    }

    .header_content_detail {
        justify-content: center;
        align-items: center;
    }

    .header_content_detail h1 {
        padding: 1rem 0;
        font-size: 3rem;
        line-height: 4rem;
        text-align: center;
    }

    .header_content_detail p {
        width: 70%;
        margin-bottom: 2rem;
        font-size: 1rem;
        line-height: 2rem;
        text-align: center;
    }

    .header_content_detail_price {
        justify-content: center;
    }

    .header_content_detail_price label {
        font-size: 13px;
    }
    
    .detail_price {
        font-size: 17px;
    }

    .header_content_detail_order {
        display: none;
    }

    .header_content_detail_order_2 {
        margin-top: 1rem;
        display: flex;
    }

    .counter {
        width: 7rem;
        padding: 0.5rem 0;
        font-size: 20px;
    }

    .header_content_detail_order_2 button {
        width: 11rem;
        font-size: 20px;
        padding: 0.48rem 1.3rem;
    }

    #shop {
        width: 1.2rem;
        height: 1.2rem;
        margin-right: 0.5rem;
    }

    .header_content_img {
        height: 30rem;
        grid-template-columns: 1fr;
        background: none
    }

    .humber_img {
        height: 96%;
    }

    .quality {
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
    }

    #calo_box {
        padding: 1rem 1rem;
        border-top-left-radius: 2rem;
        margin: 0 0.5rem;
    }

    /* footer ------------------------------------------------ */
    .footer {
        grid-template-columns: 0.8fr 1.2fr;
        padding: 0 1rem 1rem 1rem;
    }

    .footer_section_title {
        font-size: 1rem;
        margin-bottom: 1rem;

    }

    .footer_usefull_links ul li {
        font-size: 14px;
    }

    .footer_opening_hours p {
        font-size: 14px;
    }
}

@media only screen and (max-width: 410px) {
    .container, .header_nav {
        width: 95%;
    }

    .header_nav_bar0 {
        width: 50%;
    }

    .header_nav_bar {
        width: 50%;
        left: -50%;
    }

    .nav_bar_items {
        padding-left: 0.7rem;
        font-size: 14px;
    }

    .menu_icon {
        width: 1.5rem;
        height: 1.5rem;

    }

    .header_button button {
        width: max-content;
        font-size: 12px;
    }

    /* header content ----------------------- */

    .header_content_detail h1 {
        width: 80%;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .counter {
        width: 5rem;
        font-size: 18px;
    }

    .header_content_detail_order_2 button {
        width: 8rem;
        font-size: 13px;
        font-weight: bold;
        padding: 0.6rem 1.3rem;
    }

    #shop {
        width: 0.9rem;
        height: 0.rem;
        margin-right: 0.4rem;
    }

    .header_content_img {
        height: 300px;
    }

    .humber_img {height: 90%;
    }

    .quality {
        display: none;
    }

    /* footer ------------------------------------------------ */
    .footer_logo_title h1 {
        font-size: 1.8rem;
    }
    
    .footer_section_title {
        font-size:0.9rem;
    }

    .footer_usefull_links ul li {
        font-size: 12px;
    }

    .footer_opening_hours p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 347px) {
    .footer {
        grid-template-columns: 0.6fr 1.4fr;
    }

    .footer_opening_hours h3 {
        width: 70%;
    }
}



